* {
    font-family: 'Noto Sans KR', sans-serif;
}

.wrap {
    width: 900px;
    margin: auto;
}

.comment {
    color: blue;
    font-weight: bold;
}

.form-post {
    max-width: 500px;
    padding: 2rem;
    margin: 2rem auto;
    border-color: #e9ecef;
    border-radius: 0.3rem;
    border: solid;
    display: block;
}

.title {
    height: 650px;
    background-image: url('https://t1.daumcdn.net/thumb/R720x0/?fname=http://t1.daumcdn.net/brunch/service/user/1apI/image/94r88YKXeeDYHHL23boL1F-yU9o.jpeg');
    background-size: cover;
    background-position: center;
}

.product_title {
    font-size: 50px;
    margin: 0 17px 0 0;
    padding: 5px 0 0 0;
}

.order {
    text-align: center;
}